*.swp

data/g14s7/
data/g14s7n/
data/g6s3/
data/g6s3class/
data/g6s3n/
presentation/abarcz_wilga.pdf
presentation/gnn.pdf
presentation/gnn_en.pdf
presentation/img
presentation/sdm.pdf
report/barcz_gnn.pdf
report/bib
report/img
results/g6s3n_bestgnn1505_testparamsgnn5_2/combinestats.m
results/g6s3n_bestgnn1505_testparamsgnn5_2/gridplot.m
results/g6s3n_bestgnn1505_testparamsgnn5_2/octave-core
results/g6s3n_bestgnn1505_testparamsgnn5_multiple/combinestats.m
results/g6s3n_bestgnn1505_testparamsgnn5_multiple/gridplot.m
results/g6s3n_bestgnn1505_testparamsgnn7_multiple/combinestats.m
results/g6s3n_bestgnn1505_testparamsgnn7_multiple/gridplot.m
sdm-report/barcz2013.pdf
sdm-report/bib
sdm-report/img
thesis/bib
thesis/img
thesis/main.pdf
thesis/pdmgr_1-3.pdf
